# Ignore everything
*

# Allow directories
!data/
!models/
!src/
!utils/
!tools/


# Allow files inside these directories
!data/**
!models/**
!src/**
!utils/**
!tools/**

# Allow core python files
!trainc.py
!testc.py
!embedding_train.py
!eval_stage1.py
!train_dist.py
!train_pose.py
!test_stage2.py
!hybrid_embedding_train.py
# Allow gitignore itself
!.gitignore
