# Ignore everything
*

# Allow directories
!data/
!models/
!src/
!utils/
!tools/


# Allow files inside these directories
!data/**
!models/**
!src/**
!utils/**
!tools/**

# Allow core python files
!trainc.py
!testc.py
!pretrain_encoder.py
# Allow gitignore itself
!.gitignore
